{{ form_start(postForm) }}

    {{ form_row(postForm.title) }}
    {{ form_row(postForm.content) }}
    {{ form_row(postForm.excerpt,
        {
            'label':'Summary'
        })
    }}
    {{ form_row(postForm.tag) }}
    {{ form_row(postForm.status) }}

{%  if postForm.image.vars.data is not empty %}
    <img src="{{ asset('uploads/images/' ~ postForm.image.vars.data)}}" class="img-responsive" >
{% endif %}
    {{ form_row(postForm.image) }}

    {{ form_row(postForm.slug) }}



<button type="submit" class="btn btn-primary" formnovalidate>Save</button>

{{ form_end(postForm) }}